In [ ]:
import pandas as pd

df = pd.read_csv("data_diabetes.csv")
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,12100,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019

In [20]:
df.tail()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
157,158,32,JAWA BARAT,3275,KOTA BEKASI,46481,ORANG,2024
158,159,32,JAWA BARAT,3276,KOTA DEPOK,44061,ORANG,2024
159,160,32,JAWA BARAT,3277,KOTA CIMAHI,10021,ORANG,2024
160,161,32,JAWA BARAT,3278,KOTA TASIKMALAYA,11782,ORANG,2024
161,162,32,JAWA BARAT,3279,KOTA BANJAR,2415,ORANG,2024

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   162 non-null    int64
 1   kode_provinsi        162 non-null    int64
 2   nama_provinsi        162 non-null    object
 3   kode_kabupaten_kota  162 non-null    int64
 4   nama_kabupaten_kota  162 non-null    object
 5   jumlah_penderita_dm  162 non-null    int64
 6   satuan               162 non-null    object
 7   tahun                162 non-null    int64
dtypes: int64(5), object(3)
memory usage: 10.3+ KB

In [22]:
df["jumlah_penderita_dm"] = pd.to_numeric(df["jumlah_penderita_dm"], errors="coerce")
df["tahun"] = pd.to_numeric(df["tahun"], errors="coerce")

df[["jumlah_penderita_dm", "tahun"]].describe()

       jumlah_penderita_dm        tahun
count           162.000000   162.000000
mean          29699.388889  2021.500000
std           31787.221502     1.713121
min               0.000000  2019.000000
25%           12306.000000  2020.000000
50%           19279.000000  2021.500000
75%           39988.750000  2023.000000
max          242169.000000  2024.000000

In [23]:
df["nama_kabupaten_kota"].unique()

array(['KABUPATEN BOGOR', 'KABUPATEN SUKABUMI', 'KABUPATEN CIANJUR',
       'KABUPATEN BANDUNG', 'KABUPATEN GARUT', 'KABUPATEN TASIKMALAYA',
       'KABUPATEN CIAMIS', 'KABUPATEN KUNINGAN', 'KABUPATEN CIREBON',
       'KABUPATEN MAJALENGKA', 'KABUPATEN SUMEDANG',
       'KABUPATEN INDRAMAYU', 'KABUPATEN SUBANG', 'KABUPATEN PURWAKARTA',
       'KABUPATEN KARAWANG', 'KABUPATEN BEKASI',
       'KABUPATEN BANDUNG BARAT', 'KABUPATEN PANGANDARAN', 'KOTA BOGOR',
       'KOTA SUKABUMI', 'KOTA BANDUNG', 'KOTA CIREBON', 'KOTA BEKASI',
       'KOTA DEPOK', 'KOTA CIMAHI', 'KOTA TASIKMALAYA', 'KOTA BANJAR'],
      dtype=object)

In [24]:
print("Jumlah kabupaten/kota:", df["nama_kabupaten_kota"].nunique())

Jumlah kabupaten/kota: 27

In [25]:
df[["nama_kabupaten_kota", "jumlah_penderita_dm", "tahun"]].head()

  nama_kabupaten_kota  jumlah_penderita_dm  tahun
0     KABUPATEN BOGOR                57769   2019
1  KABUPATEN SUKABUMI               148447   2019
2   KABUPATEN CIANJUR                12100   2019
3   KABUPATEN BANDUNG                45412   2019
4     KABUPATEN GARUT                    0   2019

BAGIAN_B

In [26]:
df["tahun"] = pd.to_numeric(df["tahun"], errors="coerce")
df["jumlah_penderita_dm"] = pd.to_numeric(df["jumlah_penderita_dm"], errors="coerce")

In [27]:
df_2019 = df[df["tahun"] == 2019]
df_2019

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,12100,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,10930,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,31582,ORANG,2019
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,21981,ORANG,2019
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,12915,ORANG,2019
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,ORANG,2019
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,5504,ORANG,2019
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,21691,ORANG,2019
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,11783,ORANG,2019
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,0,ORANG,2019
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,0,ORANG,2019
18,19,32,JAWA BARAT,3271,KOTA BOGOR,12273,ORANG,2019
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,0,ORANG,2019
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,45430,ORANG,2019
21,22,32,JAWA BARAT,3274,KOTA CIREBON,0,ORANG,2019
22,23,32,JAWA BARAT,3275,KOTA BEKASI,42517,ORANG,2019
23,24,32,JAWA BARAT,3276,KOTA DEPOK,48899,ORANG,2019
24,25,32,JAWA BARAT,3277,KOTA CIMAHI,9571,ORANG,2019
25,26,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2019
26,27,32,JAWA BARAT,3279,KOTA BANJAR,1946,ORANG,2019

In [28]:
df_100k = df[df["jumlah_penderita_dm"] > 100000]
df_100k

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,139392,ORANG,2020
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,242169,ORANG,2020
68,69,32,JAWA BARAT,3215,KABUPATEN KARAWANG,153547,ORANG,2021

In [29]:
df_sort_jumlah = df.sort_values(by="jumlah_penderita_dm", ascending=False)
df_sort_jumlah

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,242169,ORANG,2020
68,69,32,JAWA BARAT,3215,KABUPATEN KARAWANG,153547,ORANG,2021
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,139392,ORANG,2020
...,...,...,...,...,...,...,...,...
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,0,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,ORANG,2019
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,0,ORANG,2019
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,0,ORANG,2019

In [30]:
df_sort_tahun_jumlah = df.sort_values(
    by=["tahun", "jumlah_penderita_dm"],
    ascending=[True, False]
)
df_sort_tahun_jumlah

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
...,...,...,...,...,...,...,...,...
159,160,32,JAWA BARAT,3277,KOTA CIMAHI,10021,ORANG,2024
156,157,32,JAWA BARAT,3274,KOTA CIREBON,9524,ORANG,2024
152,153,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,7312,ORANG,2024
154,155,32,JAWA BARAT,3272,KOTA SUKABUMI,5255,ORANG,2024
161,162,32,JAWA BARAT,3279,KOTA BANJAR,2415,ORANG,2024

In [31]:
top10_2019 = (
    df[df["tahun"] == 2019]
    .sort_values(by="jumlah_penderita_dm", ascending=False)
    .head(10)
)
top10_2019

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
23,24,32,JAWA BARAT,3276,KOTA DEPOK,48899,ORANG,2019
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,45430,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
22,23,32,JAWA BARAT,3275,KOTA BEKASI,42517,ORANG,2019
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,31582,ORANG,2019

In [32]:
kab = "KABUPATEN BOGOR"
data_kab = df[df["nama_kabupaten_kota"] == kab].sort_values("tahun")
data_kab

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
27,28,32,JAWA BARAT,3201,KABUPATEN BOGOR,71462,ORANG,2020
54,55,32,JAWA BARAT,3201,KABUPATEN BOGOR,61139,ORANG,2021
81,82,32,JAWA BARAT,3201,KABUPATEN BOGOR,63978,ORANG,2022
108,109,32,JAWA BARAT,3201,KABUPATEN BOGOR,65620,ORANG,2023
135,136,32,JAWA BARAT,3201,KABUPATEN BOGOR,65751,ORANG,2024